.search-box {
    position: relative;
    .txt-search {
        padding-right: 115px;
    }
    .checkbox {
        position: absolute;
        right: 10px;
        top: 0;
        margin: 7px 0;
        z-index: 2;
    }
    .search-results {
        position: absolute;
        right: 0;
        left: 0;
        background: #fff;
        border: 1px solid #ccc;
        max-height: 50vh;
        overflow: auto;

        .search-results-summary {
            padding: 10px;
            span {
                padding: 5px;
                display: inline-block;
            }
        }
        .search-result {
            border-bottom: 1px solid #999;
            &:last-of-type {
                border: none;
            }
            a {
                display: block;
                padding: 5px 20px;
                text-decoration: none;
                &:hover {
                    background-color: #eee;
                }
            }
        }
    }
}