.search-box {
    position: relative;
    .search-results-summary {
        padding: 10px;
        span {
            padding: 5px;
            display: inline-block;
        }
    }
    .txt-search {
        padding-right: 115px;
    }
    .checkbox {
        position: absolute;
        right: 10px;
        top: 0;
        margin: 7px 0;
        z-index: 2;
    }
    .search-result {
        border-bottom: 1px solid #999;
        &:last-of-type {
            border: none;
        }
        a {
            display: block;
            padding: 5px 20px;
            text-decoration: none;
            &:hover {
                background-color: #eee;
            }
        }
    }
}